<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ваш браузер устарел</title>
    <link rel="shortcut icon" href="/image/favicon.ico">
    <link href="/stylesheet/browserUpdate.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <h1>Ваш браузер устарел</h1>
    <p>Для быстрой и стабильной работы рекомендуем установить последнюю версию одного из этих браузеров: </p>
    <div class="browserUpdateList">
        <a href="https://www.google.com/intl/ru_ru/chrome/" class="browserUpdateList__item" target="_blank" rel="noreferrer">
            <img src="/image/goodBrowsers/chrome.png" alt="Google Chrome" class="browserUpdate__image">
            <p>Chrome</p>
        </a>
        <a href="https://www.mozilla.org/" class="browserUpdateList__item" target="_blank" rel="noreferrer">
            <img src="/image/goodBrowsers/opera.png" alt="Opera" class="browserUpdate__image">
            <p>Opera</p>
        </a>
        <a href="https://www.opera.com/" class="browserUpdateList__item" target="_blank" rel="noreferrer">
            <img src="/image/goodBrowsers/mozilla.png" alt="Mozilla Firefox" class="browserUpdate__image">
            <p>Firefox</p>
        </a>
    </div>
</div>
</body>
</html>