<%var err = err || 0%>
<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('templates/head', {title: 'Доступ запрещен'}) %>
</head>
<body>
<main class="main">
    <h1 style="text-align: center; color: var(--accent-color); margin-top: 100px;">Доступ запрещен</h1>
    <a href="/" style="text-align: center;">На главную</a>
</main>
<%- include('templates/footer') %>
</body>
</html>