<footer class="footer container">
    <div class="footer__powered">
        <p>Copyright © <%= new Date().getFullYear() %> СКФУ</p>
        <p>Сайт разработан командой «SmartTech_ICTIS»</p>
    </div>
</footer>
<!-- temporary -->
<script src="/js/jquery/jquery-3.4.1.min.js"></script>
<!-- /temporary -->
<script src="/js/app.js"></script>