<%var title = title || 'Заходи и работай СКФУ'%>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=1280">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= title %></title>
<meta name="description" content="Описание"/>
<meta name="keywords" content="Ключевые слова"/>

<meta property="og:title" content="<%= title %>"/>
<meta property="og:image" content="/image/logo.png" />
<meta property="og:type"  content="website"/>
<meta property="og:url"   content="https://jobs.skbkit.com/"/>
<meta property="og:description" content="Наш университет рад сотрудничеству с предприятиями-работодателями.">

<link rel="shortcut icon" href="/image/logo.png" type="image/png">

<link rel="preload" href="/fonts/roboto-v20-cyrillic_latin-regular.woff2" type="font/woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/roboto-v20-cyrillic_latin-500.woff2" type="font/woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/roboto-v20-cyrillic_latin-700.woff2" type="font/woff2" as="font" crossorigin="anonymous">

<link href="/stylesheet/swiper/swiper.min.css" rel="stylesheet">
<link href="/stylesheet/stylesheet.min.css" rel="stylesheet">